/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* global */
* {
  margin: 0;
  font-size: 100%;
  font-family: "Roboto Slab";
  padding: 0;
  scroll-behavior: smooth;
}
/* global end */
/* vars */
:root {
  --dark: #2A2E39;
  --light: #C0C0C0;
  --pink:#E90B0B;
  --brown:#9F878D;
  --lightbrown:#BEA18B;
  --red:#AB0808;
  --darkgrey:#443c41;
  --grey: #706c6f;
  --black:#000000;
  --form:	#C0C0C0;
}
/* vars end */
/* body */
body {
  background-color:var(--brown);    
}
/* body end */
/* normal links */
a {
  color:var(--red);
  text-decoration:none;
  
}

a:hover {
  color:var(--dark);
  text-decoration:none;
}
/* normal links */

/* text formatting */
p {
  font-family: Montserrat;
  font-size:1.125rem;
  line-height: 1.875rem;
  font
}

h1 {
  font-family: "Arbutus Slab";
  font-size:1.875rem;
  line-height: 3rem;
}

h2 {
  font-family: "Arbutus Slab";
  font-size:1.625rem;
  line-height: 3rem;
}

h3 {
  font-size:1.5rem;
  font-family: "Imprima";
  font-style: italic;
  color:var(--pink);
  
}

h4 {
  font-size:1.5rem;
  font-family: "Arbutus Slab";
  line-height: 45px;
}
h5 {
  font-size 1.375rem;
  font-family: "Arbutus Slab";
  
}

h6 {
  font-family: "Arbutus Slab";
  font-size:1.75rem;
  line-height: 3rem;
  color:var(--dark);
  font-weight:700;
  letter-spacing:3px;
}

label {
  font-family: Montserrat;
  font-size:1.25rem;
  line-height: 5rem;
  font-style: bold;
}

.input-group {
  margin:15px;
  font-size:1.25rem;
}
.author {
  font-size:1.5rem;
  font-family: "Imprima";
  font-style: italic;
  color:var(--dark);
}

.form-control {
  font-size:1.25rem;
  color:var(--darkgrey);
  font-family:"Roboto Slab";
}

.book-title {
  font-family: "Arbutus Slab";
  color: var(--dark);
  font-size:1.75rem;
}

.date {
  font-family: "Imprima";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
  color: var(--darkgrey);
}
/* text formatting end */

/* header and nav start */

.navbar-toggler-icon{
  color:var(--light);
}
.navbar {
  overflow:hidden;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  right: 0px;
  background-color: var(--dark);
  z-index: 6500;
} 

#logo {
  font-family: "Madjoe";
  color:var(--light);
  font-size: 5vh;
  margin-top:10px;
  margin-left:30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item a {
  font-family: 'Arbutus Slab', serif;
    font-size: 1.375rem;
    font-weight:500;
    color: var(--light);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
    margin: 0px 15px 0px 15px;
}
  
.nav-item a:hover {
  font-family: 'Arbutus Slab', serif;
  background-color: #8B6C70;
  color:black;
  font-size: 1.375rem;
}
/* header and nav end */
/* color blocks */
.light-block {
  background-color:var(--light);
}

.light-block a {
  color:var(--red);
  text-decoration:none;
  font-size: 1.375rem;
  font-family: "Roboto Slab";
}

.light-block a:hover {
  color:var(--dark);
  text-decoration:none;
  font-size: 1.375rem;
}

.brown-block {
  background-color:var(--lightbrown);
}

/* color blocks end */


/* footer */
footer {
  background-color: var(--dark);
  color: var(--light);
}

footer a {
  color: var(--light);
  font-size:1rem;
  font-family: Montserrat;
}

footer a:hover {
  color: var(--pink);
  font-size:1rem;
}
/* footer */


/* buttons */
.btn-dark2 {
  background:var(--dark);
  color:var(--light);
  font-family: Imprima;
  font-size:1.25rem;
}

.btn-dark2 a {
background:var(--dark);
color:var(--light);
font-family: Imprima;
font-size:1.25rem;
}

.btn-dark2:hover {
background:var(--brown);
color: var(--dark);
font-family: Imprima;
font-size:1.25rem;
}

.btn-dark3 {
  background:var(--dark);
  color:var(--light);
  font-family: Imprima;
  font-size:1.25rem;
}

.btn-dark3 a {
background:var(--dark);
color:var(--light);
font-family: Imprima;
font-size:1.25rem;
}

.btn-dark3:hover {
background:var(--grey);
color: var(--dark);
font-family: Imprima;
font-size:1.25rem;
}
/* buttons end*/

/* separator & borders */
.separator {
  color:var(--dark);
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}

.separator:before, .separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid var(--dark);
}

.separator:before {
  float: left;
}

.separator:after {
  float: right;
}

.separator-danger {
  color: #2A2E39;
}

.separator-danger:before, .separator-danger:after {
  border-color: #2A2E39;
  ;
}



.black-border {
  border-style: solid;
  border-color:black;
  border-width:5px;
}
/* separator & borders end */

/* card & captions */

.card { 
  height: 36vh;  
  overflow: hidden;
  border: 5px solid black;
} 

.what-cap {
  padding: 20px 0px 10px 0px;
  background:var(--dark);
  color:var(--light);
  position: absolute;
  text-align:center;
  bottom: 0px;
  left: 0px;
  width: 48%;
  border-radius:0  20px 0 0;
  font-family: Imprima;
  font-size:1.5rem;
  z-index: 5000;
}

.what-cap:hover {
  padding: 20px 0px 10px 0px;
  background:var(--brown);
  color: var(--dark);
  position: absolute;
  text-align:center;
  bottom: 0px;
  left: 0;
  width: 48%;
  border-radius:0  10px 0 0;
  font-family: Imprima;
  font-size:1.75rem;
  z-index: 5001;
}
/* card & captions end */
/* cookie disclaimer */
.cookie-banner {
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
  width: 100%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkgrey);

}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

/* cookie disclaimer */

/*slider*/

.wrapper{
  width:95%;
  padding-top: 0px;
  text-align:center;
}
.carousel123{
  width:90%;
  margin:0px auto;
  height:auto;
}
.slick-slide{
  margin:0px;
  padding:0px;
}
.slick-slide img{
  width:200px;
  border: 2px solid black;
  height:300px;

}
/*slider*/
